.menuItem{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    transition-duration: 1s;
}

.menuItem:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.menuItem .icon{
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
    color: #979797
}

.menuItem span{
    text-align: center;
    color: #7a7a7a
}

