.panel_balance_container{
    height: 118px;
    border-radius: 15px;
    color: white;
    background-color: #339E33;
    background-image: url('../assets/panel.png');
    background-size: cover;
    background-position: center;
}
