.content_container{
    height: 100vh;
    padding: 24px 28px 0px 24px;
    border-radius: 50px 50px 0px 0px;
    background-color: rgb(251, 251, 251);
}

.title_medium{
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 600;
    color: #3629B7;
}

.subtitle_medium{
    font-size: 12px;
    font-weight: 500;
}

input{
    width: 100%;
    margin: 10px 0px;
    padding: 10px 12px;
    border-radius: 15px;
    border: 1px solid black;
}

button{
    width: 100%;
    padding: 12px 12px;
    border-radius: 15px;
    font-size: 16px;
    background-color: #3629B7;
    border: 0px;
    color: white;
}