@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: "Poppins", sans-serif; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}   

body, html {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
}

#root > div{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    /* max-height: 780px; */
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 5px solid rgb(69, 67, 67);
    border-radius: 25px;

    overflow: hidden;
}

.content_container{
    position: relative;
    flex-grow: 1;
    padding: 35px 24px 0px 24px;
    border-radius: 50px 50px 0px 0px;
    background-color: rgb(251, 251, 251);
}

.title_medium{
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.subtitle_medium{
    font-size: 13px;
    font-weight: 500;
}

.forget_password_option{
    margin-top: 10px;
    text-align: end;
}

.create_account_text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
}

a{
    color: #000000;
    text-decoration: none;
}

input{
    width: 100%;
    margin: 10px 0px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #000000;
    font-size: 15px;
}

input::placeholder {
    color: #000000;
}
  

button{
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
    background-color: #000000;
    border: 0px;
    color: white;
}